.DS_Store
/viikko2/Verkkokauppa1/Verkkokauppa1/nbproject/private/
/viikko2/Verkkokauppa1/bellmanforddijkstra/nbproject/private/
/viikko2/Verkkokauppa1/bellmanforddijkstra/build/
/viikko2/Verkkokauppa1/bellman-ford/nbproject/private/
/viikko2/Verkkokauppa1/bellman-ford/build/